@use "./mixins" as *;

.section-entry-survey {
    margin-top: 20rem;

    .page-heading {
        span {
            display: block;
        }
    }
}

.form-entry-survey {
    .survey-question {
        margin-bottom: 2.5rem;
        display: grid;

        input[type="number"],
        select {
            // margin-top: 1.2rem;
            padding: 12px;
            border-radius: 45px;
            border-color: transparent;
            box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
        }

        input[type="number"] {
            &[data-error="true"] {
                background-color: rgba(255, 0, 0, 0.3);
            }
        }

        // grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
    }
    .survery-question-has-input {
        grid-template-columns: 0.4fr 1fr;
        align-items: center;
        margin-bottom: 5.8rem;

        &:last-of-type {
            // margin-bottom: 0;
        }

        .units {
            justify-self: center;
        }

        @include media(tablet) {
            grid-template-columns: 0.4fr 1fr 0.4fr;
        }

        .hidden-small {
            display: none;
            @include media(tablet) {
                display: initial;
            }
        }

        .hidden-large {
            @include media(tablet) {
                display: none;
            }
        }
    }

    .question-group {
        // border: 1px solid;
        .error-element {
            color: var(--burnt-sienna);
            display: none;
        }

        &[data-currently-shown="false"] {
            opacity: 0;
            display: none;
        }

        &[data-currently-shown="true"] {
            opacity: 1;
            display: block;
            animation: 0.3s ease-in normal forwards fade-in;
        }

        &[data-error-shown] {
            .error-element {
                display: block;
            }
        }
    }

    .question-group-wrapper {
        // display: flex;
        gap: 0.8rem;
        overflow: hidden;
        align-items: center;
        min-height: 591px;
    }

    .survery-question-has-checkbox-radio {
        grid-template-columns: 0.5fr 1fr;
        .labels-group {
            display: grid;
        }
        .labels-group-split {
            grid-template-columns: 1fr 1fr;
            grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
            column-gap: 2.625rem;
            row-gap: 0.6875rem;
        }
        .legend {
            margin-block: 1.1rem;
            justify-self: left;
        }
        label {
            border: 1px solid var(--carrot-orange);
            border-radius: 0.9375rem;
            input[type="checkbox"],
            input[type="radio"] {
                appearance: none;
                background-color: var(--white);
                display: grid;
                font-size: 0.5rem;
                border: 1px solid rgba(128, 128, 128, 0.282);
                border-radius: 0.4rem;
                place-items: center;
                grid-area: checkbox;
                &:after {
                    content: "";
                    background-color: transparent;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 0.4rem;
                }

                &:checked {
                    &:after {
                        background-image: url("../../images/checkmark.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            display: grid;
            grid-template-columns: 1.5em 1fr;
            grid-template-areas: " checkbox text ";
            justify-content: start;
            align-items: center;
            column-gap: 3.25rem;
            padding: 1.25rem;
        }
    }

    .survery-question-has-radio {
        grid-template-columns: 1fr;
        label {
            justify-content: space-between;
        }
    }

    fieldset {
        padding: 0;
        // display: flex;
        // padding-block: 0.5rem;
        margin: 0;
        border: none;
        label {
            display: block;
        }
        legend {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            width: 1px;
            height: 1px;
            white-space: nowrap;
        }
    }

    select {
        width: 100%;
        display: block;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
