<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: "Entry Survey"}) %>
    <body>
        <%- include('../includes/app-nav', {user: user}) %>
        <section class="section-entry-survey">
            <div class="container">
                <h1>Welcome <%= user.name%></h1>
                <h2>
                    Please share some basic information with us to get started.
                </h2>
                <form
                    id="form-entry-survey"
                    class="form-entry-survey"
                    method="post"
                    action="/app/entry"
                >
                    <div class="question-group-wrapper">
                        <div
                            class="question-group"
                            data-group="bio"
                            data-currently-shown="true"
                        >
                            <div
                                class="survey-question survery-question-has-input"
                            >
                                <label for="age"> Age </label>
                                <input
                                    id="age"
                                    type="number"
                                    name="age"
                                    min="18"
                                    max="80"
                                    placeholder="Enter Your Age"
                                />
                                <span class="units">Years</span>
                            </div>
                            <div
                                class="survey-question survery-question-has-input"
                            >
                                <label> Height </label>
                                <input
                                    type="number"
                                    name="height"
                                    min="55"
                                    max="250"
                                    placeholder="Enter your height"
                                />
                                <span class="units">CM</span>
                            </div>
                            <div
                                class="survey-question survery-question-has-input"
                            >
                                <label> Weight </label>
                                <input
                                    type="number"
                                    name="weight"
                                    min="45"
                                    max="200"
                                    placeholder="Enter your weight"
                                />
                                <span class="units">KG</span>
                            </div>
                            <div class="survey-question">
                                <label>Gender</label>
                                <select name="gender" value="">
                                    <option value="" disabled>
                                        What gender were you assigned at birth
                                    </option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option>Other...</option>
                                </select>
                            </div>
                        </div>
                        <div
                            class="question-group"
                            data-group="diet"
                            data-currently-shown="false"
                        >
                            <fieldset
                                class="survey-question survery-question-has-checkbox-radio"
                            >
                                <legend>Any Specific Intolerances</legend>
                                <div class="legend" aria-hidden="true">
                                    Any Specific Intolerances
                                </div>
                                <label>
                                    Dairy
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="dairy"
                                    />
                                </label>
                                <label>
                                    Egg
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="egg"
                                    />
                                </label>
                                <label>
                                    Gluten
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="gluten"
                                    />
                                </label>
                                <label>
                                    Grain
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="grain"
                                    />
                                </label>
                                <label>
                                    Peanut
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="peanut"
                                    />
                                </label>
                                <label>
                                    Seafood
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="seafood"
                                    />
                                </label>
                                <label>
                                    Sesame
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="sesame"
                                    />
                                </label>
                                <label>
                                    Soy
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="soy"
                                    />
                                </label>
                                <label>
                                    Sulfite
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="sulfite"
                                    />
                                </label>
                                <label>
                                    Tree Nut
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="tree nut"
                                    />
                                </label>
                                <label>
                                    Wheat
                                    <input
                                        type="checkbox"
                                        name="intolerances"
                                        value="wheat"
                                    />
                                </label>
                            </fieldset>
                        </div>
                        <div
                            class="question-group"
                            data-group="meal"
                            data-currently-shown="false"
                        >
                            <fieldset
                                class="survey-question survery-question-has-checkbox-radio"
                            >
                                <legend>Specific Dietary Requirments</legend>
                                <div class="legend" aria-hidden="true">
                                    Specific Dietary Requirments
                                </div>
                                <label>
                                    Gluten Free
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="gluten free"
                                    />
                                </label>
                                <label>
                                    Ketogenic
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="ketogenic"
                                    />
                                </label>
                                <label>
                                    Vegetarian
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="vegetarian"
                                    />
                                </label>
                                <label>
                                    Lacto-Vegetarian(No eggs)
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="lacto-vegetarian"
                                    />
                                </label>
                                <label>
                                    Ovo-Vegetarian
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="ovo-vegetarian"
                                    />
                                </label>
                                <label>
                                    Vegan
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="vegan"
                                    />
                                </label>
                                <label>
                                    Pescetarian
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="pescatarian"
                                    />
                                </label>
                                <label>
                                    Paleo
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="paleo"
                                    />
                                </label>
                                <label>
                                    Primal
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="primal"
                                    />
                                </label>
                                <label>
                                    Low FODMAP
                                    <input
                                        type="checkbox"
                                        name="diet"
                                        value="Low FODMOP"
                                    />
                                </label>
                            </fieldset>
                        </div>
                        <div
                            class="question-group"
                            data-group="fitness"
                            data-currently-shown="false"
                        >
                            <fieldset
                                class="survey-question survery-question-has-checkbox-radio survery-question-has-radio"
                            >
                                <legend>How active are you</legend>
                                <div class="legend" aria-hidden="true">
                                    How active are you
                                </div>
                                <label
                                    >Sedentary(little or no exercise)<input
                                        type="radio"
                                        name="exercise"
                                        value="little"
                                /></label>
                                <label
                                    >Lightly active (light exercise or sports
                                    1-3 days a week)<input
                                        type="radio"
                                        checked
                                        name="exercise"
                                        value="light"
                                /></label>
                                <label
                                    >Moderately active (moderate exercise or
                                    sports 3-5 days a week)<input
                                        type="radio"
                                        name="exercise"
                                        value="moderate"
                                /></label>
                                <label
                                    >Very active (hard exercise or sports 6-7
                                    days a week)<input
                                        type="radio"
                                        name="exercise"
                                        value="heavy"
                                /></label>
                                <label
                                    >Extra active (very hard exercise or sports,
                                    physical job or training twice a day)<input
                                        type="radio"
                                        name="exercise"
                                        value="veryHeavy"
                                /></label>
                            </fieldset>
                        </div>
                        <div
                            class="question-group"
                            class="question-group"
                            data-group="goal"
                            data-currently-shown="false"
                        >
                            <fieldset
                                class="survey-question survey-question survery-question-has-checkbox-radio survery-question-has-radio"
                            >
                                <legend>What's your aim</legend>
                                <div class="legend" aria-hidden="true">
                                    What's your aim
                                </div>
                                <label>
                                    Lose weight (Calorie Deficit)
                                    <input
                                        type="radio"
                                        name="goal"
                                        checked
                                        value="fatloss_moderate"
                                    />
                                </label>
                                <label>
                                    Maintain current weight
                                    <input
                                        type="radio"
                                        name="goal"
                                        value="maintenance"
                                    />
                                </label>
                                <label>
                                    Bulking at a normal pace
                                    <input
                                        type="radio"
                                        name="goal"
                                        value="bulking_normal"
                                    />
                                </label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button id="next-group" type="button">Previous</button>
                        <button class="btn btn-accent">Submit Survey</button>
                        <button id="previous-group" type="button">Next</button>
                    </div>
                </form>
            </div>
        </section>
        <%- include('../includes/main-footer') %>
        <script src="../js/menu.js"></script>
        <script src="../js/form-scroll.js"></script>
    </body>
</html>
